.tabs {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 32px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);

  margin: 80px 0;
}

.tab-list {
  display: flex;
}

.tab-progress {
  position: absolute;
  left: -1px;
  right: -1px;
  top: 66px;
  height: 4px;
  z-index: 0;

  background-color: gray;
  transform-origin: 0%;
}

.tab {
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  color: gray;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
  margin-right: 24px;
  transition: color 0.16s ease-in-out, background-color 0.16s ease-in-out, border-color 0.16s ease-in-out;
  width: 100%;
}

.tab:focus,
.tab:focus-visible {
  box-shadow: 0 0 0 4px rgba(73, 39, 150, 0.5);
}

.tab:focus:not(:focus-visible) {
  box-shadow: none;
}

.tab.active {
  background-color: gray;
  border-color: gray;
  color: white;
  cursor: default;
}

.panel-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.panel {
  position: absolute;
}

.acknowledge-button, .solve-button {
    background-color: gray;
    cursor: pointer;
    color: white;
    border-color: gray;
    outline: none;
    border: none;
    text-align: center;
    padding: 15px 60px;
}

.button-container {
    float: left;
    padding-top: 2%;
    right: 0;
}

.information-container {
    float: left;
    width: 80%;
}

.container {
    display: flex;
}

.row {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid gray;
  width: 100% !important;
  max-width: 100% !important;
}